# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
terraform.tfvars
*.auto.tfvars
secrets.tfvars

# OS
.DS_Store
Thumbs.db

README.md
*README.md